.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 180px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img{
  max-width: 240px;
  max-height: 240px;
}

body { white-space: pre-line; }